/Makefile
/aclocal.mk
/autom4te.cache/output.4
/autom4te.cache/traces.4
/config.h
/config.log
/config.status
/gsoap++.pc
/gsoap.pc
/gsoap/.deps/
/gsoap/Makefile
/gsoap/dom_cpp.cpp
/gsoap/libgsoap++.a
/gsoap/libgsoap.a
/gsoap/libgsoap___a-dom_cpp.o
/gsoap/libgsoap___a-stdsoap2_cpp.o
/gsoap/libgsoap_a-dom.o
/gsoap/libgsoap_a-stdsoap2.o
/gsoap/libgsoapck++.a
/gsoap/libgsoapck.a
/gsoap/libgsoapck___a-dom_cpp.o
/gsoap/libgsoapck___a-stdsoap2_ck_cpp.o
/gsoap/libgsoapck_a-dom.o
/gsoap/libgsoapck_a-stdsoap2_ck.o
/gsoap/libgsoapssl++.a
/gsoap/libgsoapssl.a
/gsoap/libgsoapssl___a-dom_cpp.o
/gsoap/libgsoapssl___a-stdsoap2_ssl_cpp.o
/gsoap/libgsoapssl_a-dom.o
/gsoap/libgsoapssl_a-stdsoap2_ssl.o
/gsoap/samples/Makefile
/gsoap/samples/autotest/.deps/
/gsoap/samples/autotest/Makefile
/gsoap/samples/calc++/.deps/
/gsoap/samples/calc++/Makefile
/gsoap/samples/calc/.deps/
/gsoap/samples/calc/Makefile
/gsoap/samples/chaining++/.deps/
/gsoap/samples/chaining++/Makefile
/gsoap/samples/chaining/.deps/
/gsoap/samples/chaining/Makefile
/gsoap/samples/databinding/.deps/
/gsoap/samples/databinding/Makefile
/gsoap/samples/dime/.deps/
/gsoap/samples/dime/Makefile
/gsoap/samples/dom/.deps/
/gsoap/samples/dom/Makefile
/gsoap/samples/factory/.deps/
/gsoap/samples/factory/Makefile
/gsoap/samples/factorytest/.deps/
/gsoap/samples/factorytest/Makefile
/gsoap/samples/gmt/.deps/
/gsoap/samples/gmt/Makefile
/gsoap/samples/googleapi/.deps/
/gsoap/samples/googleapi/Makefile
/gsoap/samples/hello/.deps/
/gsoap/samples/hello/Makefile
/gsoap/samples/httpcookies/.deps/
/gsoap/samples/httpcookies/Makefile
/gsoap/samples/lu/.deps/
/gsoap/samples/lu/Makefile
/gsoap/samples/magic/.deps/
/gsoap/samples/magic/Makefile
/gsoap/samples/mashup++/.deps/
/gsoap/samples/mashup++/Makefile
/gsoap/samples/mashup/.deps/
/gsoap/samples/mashup/Makefile
/gsoap/samples/mtom-stream/.deps/
/gsoap/samples/mtom-stream/Makefile
/gsoap/samples/mtom/.deps/
/gsoap/samples/mtom/Makefile
/gsoap/samples/oneway++/.deps/
/gsoap/samples/oneway++/Makefile
/gsoap/samples/oneway/.deps/
/gsoap/samples/oneway/Makefile
/gsoap/samples/polytest/.deps/
/gsoap/samples/polytest/Makefile
/gsoap/samples/primes/.deps/
/gsoap/samples/primes/Makefile
/gsoap/samples/rest/.deps/
/gsoap/samples/rest/Makefile
/gsoap/samples/roll/.deps/
/gsoap/samples/roll/Makefile
/gsoap/samples/router/.deps/
/gsoap/samples/router/Makefile
/gsoap/samples/rss/.deps/
/gsoap/samples/rss/Makefile
/gsoap/samples/ssl/.deps/
/gsoap/samples/ssl/Makefile
/gsoap/samples/template/.deps/
/gsoap/samples/template/Makefile
/gsoap/samples/udp/.deps/
/gsoap/samples/udp/Makefile
/gsoap/samples/varparam/.deps/
/gsoap/samples/varparam/Makefile
/gsoap/samples/wsa/.deps/
/gsoap/samples/wsa/Makefile
/gsoap/samples/wsrm/.deps/
/gsoap/samples/wsrm/Makefile
/gsoap/samples/wsse/.deps/
/gsoap/samples/wsse/Makefile
/gsoap/samples/xml-rpc-json/.deps/
/gsoap/samples/xml-rpc-json/Makefile
/gsoap/src/.deps/
/gsoap/src/Makefile
/gsoap/src/soapcpp2
/gsoap/src/soapcpp2-error2.o
/gsoap/src/soapcpp2-init2.o
/gsoap/src/soapcpp2-soapcpp2.o
/gsoap/src/soapcpp2-soapcpp2_lex.o
/gsoap/src/soapcpp2-soapcpp2_yacc.o
/gsoap/src/soapcpp2-symbol2.o
/gsoap/src/soapcpp2_lex.c
/gsoap/src/soapcpp2_yacc.c
/gsoap/src/soapcpp2_yacc.h
/gsoap/src/soapcpp2_yacc.output
/gsoap/stdsoap2_ck.c
/gsoap/stdsoap2_ck_cpp.cpp
/gsoap/stdsoap2_cpp.cpp
/gsoap/stdsoap2_ssl.c
/gsoap/stdsoap2_ssl_cpp.cpp
/gsoap/wsdl/.deps/
/gsoap/wsdl/Makefile
/gsoap/wsdl/wsdl2h
/gsoap/wsdl/wsdl2h-bpel.o
/gsoap/wsdl/wsdl2h-mime.o
/gsoap/wsdl/wsdl2h-schema.o
/gsoap/wsdl/wsdl2h-service.o
/gsoap/wsdl/wsdl2h-soap.o
/gsoap/wsdl/wsdl2h-types.o
/gsoap/wsdl/wsdl2h-wsdl.o
/gsoap/wsdl/wsdl2h-wsdl2h.o
/gsoap/wsdl/wsdl2h-wsdlC.o
/gsoap/wsdl/wsdl2h-wsp.o
/gsoap/wsdl/wsdlC.cpp
/gsoap/wsdl/wsdlH.h
/gsoap/wsdl/wsdlStub.h
/gsoap/wsdl/xmime.nsmap
/gsoapck++.pc
/gsoapck.pc
/gsoapssl++.pc
/gsoapssl.pc
/stamp-h1
